doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1")
		meta(name="description" content="オーダースーツのHANABISHIでは、年齢・性別・職業にとらわれない「楽しむオーダーメイド」をご提案。39,000円+税からオーダースーツをお仕立ていただけます。ジャケット、シャツ、パンツ、スカートもオーダーいただけます。")
		meta(name="keywords" content="オーダースーツ,オーダーメイド,イージーオーダー,HANABISHI,花菱縫製")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://hanabishi-housei.co.jp/")
		meta(property="og:description" content="オーダースーツのHANABISHIでは、年齢・性別・職業にとらわれない「楽しむオーダーメイド」をご提案。39,000円+税からオーダースーツをお仕立ていただけます。ジャケット、シャツ、パンツ、スカートもオーダーいただけます。")
		meta(property="og:image" content="http://hanabishi-housei.co.jp/common/images/share.jpg")
		meta(property="og:title" content="THE TAILOR OF JAPAN | オーダースーツのHANABISHI")
		meta(property="og:site_name" content="THE TAILOR OF JAPAN SINCE 1935 | オーダースーツのHANABISHI")
		meta(property="fb:admins" content="100006961388951")

		block title
			title THE TAILOR OF JAPAN | オーダースーツのHANABISHI

		// inject:css
		// endinject

		block pageCss

		// inject:js
		// endinject
	body
		include ../_widgets/header/header.jade
		block content
    
